{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/forbid-prop-types": false,
    "no-return-assign": "off",
    "react/jsx-closing-bracket-location": "enabled"
  }
}
