@import '~antd/dist/antd.css';

.brand-logo{
  color: white;
  font-size: 30px;
  width: 160px;
  height: 31px;
  /* background-image: url("./img/brand-logo-small.png"); */
  /* margin: 16px 24px 16px 0; */
  float: left;
}

hr {
  border-top: 1px solid #d2d2d2;;
}